$color-primary: #FFD700;
$bg-color: #5a5a5a;
$white: #f1f1f1;
$black: #333;

$ff-cursive: 'Dancing Script', cursive;
$ff-sans-serif1: 'Josefin Sans', sans-serif;
$ff-sans-serif2: 'Nunito', sans-serif;

