footer{
    padding-top: 50px;
    background-color: $black;
    p{
        text-align: center;
        // line-height: 50px;
    }
}



.network {
    text-align: center;
    gap: 10px;
    a{
        font-size: 30px;
        margin: 5px;
         color: lightness-font($white);
         .fa-youtube{
            color: $color-primary;
         }
    }
   
}


